# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ List popular languages that Data Scientists use are
+ List commonly used libraries used by Data Scientists include
+ List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. Java
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

Data Science Tools:
1. Jupyter Notebook
2. RStudio
3. Apache Hadoop
4. Tableau

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes // 60  # División entera para obtener las horas completas
remaining_minutes = minutes % 60  # Resto de la división para obtener los minutos restantes

print(f"{hours} horas y {remaining_minutes} minutos")

3 horas y 20 minutos

## Author
Pedro Bravo